export GUILE_LOAD_PATH=/Users/decal/pathgro
export PATH=/Users/decal/bin:/Library/Frameworks/Python.framework/Versions/3.7/bin:/home/decal/bin:/usr/lib/go-1.6/bin:/Users/decal/homebrew/bin:/Users/decal/.linuxbrew/bin:/home/decal/perl5/bin:/home/decal/perl5/perlbrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Applications/Wireshark.app/Contents/MacOS:/usr/local/MacGPG2/bin:/Users/decal/.rvm/bin:/Users/decal/homebrew/bin:/Users/decal/homebrew/opt/go/libexec/bin:/Users/decal/.cargo/bin:/sbin:/usr/sbin:/usr/local/sbin:/usr/local/bin
