export GUILE_LOAD_PATH=/home/decal/pathgro
export PATH=/home/decal/bin:/Library/Frameworks/Python.framework/Versions/3.7/bin:/Library/Frameworks/Python.framework/Versions/3.7/bin:/home/decal/bin:/usr/lib/go-1.6/bin:/home/decal/homebrew/bin:/home/decal/.linuxbrew/bin:/home/decal/perl5/bin:/home/decal/perl5/perlbrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/local/games:/usr/games:/home/decal/.rvm/bin:/Users/decal/homebrew/bin:/Users/decal/homebrew/opt/go/libexec/bin:/Users/decal/.cargo/bin:/sbin:/usr/sbin:/usr/local/sbin:/usr/local/bin:/home/decal/bin:/home/decal/bin:/home/decal/bin:/home/decal/bin:/home/decal/bin
