[rebase]
  verbose = true
  autoStash = true
  autoSquash = true

[commit]
  verbose = true
  gpgsign = false
  template = /home/decal/.gitmessage

[push]
  verbose = true
  default = simple

[user]
  name = Derek Callaway
  email = decal@sdf.org

[http]
  postBuffer = 20480

[core]
  autocrlf = false
  editor = vim
  excludesfile = /home/decal/.gitignore
  whitespace = indent-with-non-tab, tabwidth=2

[credential]
	helper = cache --timeout=20480

[color]
  ui = always
  status = auto
  branch = auto
  interactive = auto
  diff = auto

[alias]
  ci = commit
  co = checkout
  st = status
  br = branch
  wc = whatchanged
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
